html {
  display: flex;
  height: 100%;
}
  
body {
  display: flex;
  flex-grow: 1;
}

.container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
}

.button {
  text-align: center;
  border: 1px solid transparent;
  color: #fff;
  background-color: #007bff;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  margin: 10px;
  width: 280px;
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

.result {
  max-width: 245px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
